@use "./typography" as *;
@use "./variables" as *;
@use "./mixins" as *;

.header {
  height: 5.5625rem;
  @include flex(column);
  @include center(center);
  background-color: $band-black;
  // height: 3.125rem;
  @include tablet {
    @include flex(row);
    // @include center(baseline)
  }
  &__logo {
    padding: 0.625rem 1.25rem;
  }
  &__link {
    text-decoration: none;
    color: $white;
    @include text-settings(24px, 2rem, lighter);
  }
}
.nav {
  width: 100%;

  height: 100%;
  @include tablet {
    // width: 100px;
  }

  &__tabs {
    height: 100%;
    @include flex(row);
    justify-content: space-around;
    @include tablet {
      justify-content: start;
    }
  }

  &__link {
    color: $white;
    text-decoration: none;
    @include text-settings(1rem, 1rem, 400);
  }

  &__item {
    list-style-type: none;
    flex-grow: 1;
    text-align: center;
    @include tablet {
      flex-grow: 0;
      margin: 0px 1.25rem;
      @include center(center);
      @include text-settings(0.625rem, 1.25rem, 700);
    }

    &--active {
      border-bottom: 0.1875rem white solid;
      @include text-settings(1rem, 1.25rem, 800);
    }
  }
}

.hero {
  display: flex;
  height: 20rem;
  margin-bottom: 2rem;
  align-items: center;
  background-image: url("../../assets/Images/hero-bio.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: inset 0 0 0 2000px rgba(32, 32, 32, 0.5);
  // container follow image height -> source https://stackoverflow.com/questions/600743/how-to-get-div-height-to-auto-adjust-to-background-size
  // padding-top: 66.64%;
  @include tablet {
    height: 31.25rem;
  }
  @include desktop {
    height: 45rem;
  }

  &__title {
    color: $white;
    margin-left: 1.25rem;
    margin-top: 3rem;
    @include tablet {
      @include text-settings(3.75rem, 4.25rem, 700);
    }
    @include desktop {
      @include text-settings(3.75rem, 4.25rem, 700);
    }
  }
}

.about {
  margin: 0 1rem;
  @include tablet {
    margin-left: 4rem;
    padding: 0; // background-color: red;
  }
  &__title {
    margin-left: 1rem;

    @include text-settings(2rem, 2.5rem, 700);
    @include tablet {
      @include text-settings(1.5rem, 2.5rem, 700);
      margin: 1rem 2rem;
      // padding-left: 3rem;

      // di
    }
  }
  &__img {
    width: 100%;
    margin: 1rem 0;
    @include tablet {
      width: 100%;
      object-position: center;
    }
  }
  &__quote {
    @include text-settings(1.1rem, 1.7rem, "");
    width: 100%;
    // padding-left: 2rem;
    @include tablet {
      width: 65%;
    }
  }

  &__author {
    @include text-settings(0.9rem, 2.5rem, 700);
  }

  &__article {
    @include tablet {
      display: flex;
      @include tablet {
        margin-left: 3rem;
      }
    }
    p {
      margin: 1rem;
      @include text-settings(1rem, 24px, "");
      // padding: 2rem;
    }
  }
  &__heading {
    margin-left: 1rem;
    @include tablet {
      margin-left: 4rem;
    }
  }
}

.wrapper {
  @include tablet {
    width: 40.625rem;
    margin: 0 auto;
  }
  @include desktop {
    width: 72rem;
    margin: 0 auto;
  }
}
