@font-face {
  font-family: "Avenir Next";
  src: url("../../assets/Font/AvenirNextLTPro-Regular.woff2") format("woff2");
  src: url("../../assets/Font/AvenirNextLTPro-Regular.woff") format("woff");
  src: url("../../assets/Font/Alternative/AvenirNextLTPro.ttf") format("truetype");
}
.header {
  height: 5.5625rem;
  display: flex;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #323232;
}
@media screen and (min-width: 48rem) {
  .header {
    display: flex;
    flex-direction: row;
  }
}
.header__logo {
  padding: 0.625rem 1.25rem;
}
.header__link {
  text-decoration: none;
  color: #ffffff;
  font-size: 24px;
  line-height: 2rem;
  font-weight: lighter;
}

.nav {
  width: 100%;
  height: 100%;
}
.nav__tabs {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
@media screen and (min-width: 48rem) {
  .nav__tabs {
    justify-content: start;
  }
}
.nav__link {
  color: #ffffff;
  text-decoration: none;
  font-size: 1rem;
  line-height: 1rem;
  font-weight: 400;
}
.nav__item {
  list-style-type: none;
  flex-grow: 1;
  text-align: center;
}
@media screen and (min-width: 48rem) {
  .nav__item {
    flex-grow: 0;
    margin: 0px 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.625rem;
    line-height: 1.25rem;
    font-weight: 700;
  }
}
.nav__item--active {
  border-bottom: 0.1875rem white solid;
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: 800;
}

.hero {
  display: flex;
  height: 20rem;
  margin-bottom: 2rem;
  align-items: center;
  background-image: url("../../assets/Images/hero-bio.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: inset 0 0 0 2000px rgba(32, 32, 32, 0.5);
}
@media screen and (min-width: 48rem) {
  .hero {
    height: 31.25rem;
  }
}
@media screen and (min-width: 80rem) {
  .hero {
    height: 45rem;
  }
}
.hero__title {
  color: #ffffff;
  margin-left: 1.25rem;
  margin-top: 3rem;
}
@media screen and (min-width: 48rem) {
  .hero__title {
    font-size: 3.75rem;
    line-height: 4.25rem;
    font-weight: 700;
  }
}
@media screen and (min-width: 80rem) {
  .hero__title {
    font-size: 3.75rem;
    line-height: 4.25rem;
    font-weight: 700;
  }
}

.about {
  margin: 0 1rem;
}
@media screen and (min-width: 48rem) {
  .about {
    margin-left: 4rem;
    padding: 0;
  }
}
.about__title {
  margin-left: 1rem;
  font-size: 2rem;
  line-height: 2.5rem;
  font-weight: 700;
}
@media screen and (min-width: 48rem) {
  .about__title {
    font-size: 1.5rem;
    line-height: 2.5rem;
    font-weight: 700;
    margin: 1rem 2rem;
  }
}
.about__img {
  width: 100%;
  margin: 1rem 0;
}
@media screen and (min-width: 48rem) {
  .about__img {
    width: 100%;
    -o-object-position: center;
       object-position: center;
  }
}
.about__quote {
  font-size: 1.1rem;
  line-height: 1.7rem;
  font-weight: "";
  width: 100%;
}
@media screen and (min-width: 48rem) {
  .about__quote {
    width: 65%;
  }
}
.about__author {
  font-size: 0.9rem;
  line-height: 2.5rem;
  font-weight: 700;
}
@media screen and (min-width: 48rem) {
  .about__article {
    display: flex;
  }
}
@media screen and (min-width: 48rem) and (min-width: 48rem) {
  .about__article {
    margin-left: 3rem;
  }
}
.about__article p {
  margin: 1rem;
  font-size: 1rem;
  line-height: 24px;
  font-weight: "";
}
.about__heading {
  margin-left: 1rem;
}
@media screen and (min-width: 48rem) {
  .about__heading {
    margin-left: 4rem;
  }
}

@media screen and (min-width: 48rem) {
  .wrapper {
    width: 40.625rem;
    margin: 0 auto;
  }
}
@media screen and (min-width: 80rem) {
  .wrapper {
    width: 72rem;
    margin: 0 auto;
  }
}/*# sourceMappingURL=bio.css.map */