@use "./partials/typography" as *;
@use "./partials/variables" as *;
@use "./partials/mixins" as *;
@use "./global" as *;
.header {
  height: 5.5625rem;
  background-color: $band-dark;
  @include flex(column, center, center);
  @include tablet {
    @include flex(row, _, _);
  }
  &__logo {
    padding: 0.625rem 1.25rem;
    @include desktop {
      padding: 0.7rem 6.6875rem, 1.25rem;
    }
  }
  &__link {
    text-decoration: none;
    color: $white;
    @include text-settings(24px, 2rem, lighter);
  }
}

.nav {
  width: 100%;
  height: 100%;
  @include tablet {
  }

  &__tabs {
    height: 100%;
    @include flex(row, _, space-around);
    @include tablet {
      @include flex(row, _, start);
    }
  }

  &__link {
    color: $white;
    text-decoration: none;
    @include text-settings(1rem, 1rem, 400);

    &--active {
      @include text-settings(1rem, 1.25rem, bold);
    }
  }

  &__item {
    width: 6rem;
    flex-grow: 1;
    text-align: center;
    list-style-type: none;
    transition: all 0.3s ease-in-out;
    &:hover {
      border-bottom: 0.1875rem white solid;
      cursor: pointer;
    }

    &--active {
      border-bottom: 0.1875rem white solid;
      font-weight: 700;
    }

    @include tablet {
      flex-grow: 0;
      margin: 0px 1.25rem;
      @include flex(_, center, center);
      @include text-settings(0.625rem, 1.25rem, 700);
    }
  }
}

.hero {
  @include flex(_, center, _);
  height: 20rem;
  margin-bottom: 2rem;
  background-image: url(".././assets/Images/hero-bio.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: inset 0 0 0 125rem rgba(32, 32, 32, 0.5);

  @include tablet {
    height: 31.25rem;
  }
  @include desktop {
    height: 45.625rem;
  }

  &__title {
    color: $white;
    margin: 3rem 0 0 1.25rem;
    @include tablet {
      @include text-settings(3.75rem, 4.25rem, 700);
    }
    @include desktop {
      @include text-settings(3.75rem, 4.25rem, 700);
      margin-left: 6.75rem;
    }
  }
}

.about {
  margin: 0 1rem;
  @include tablet {
    padding: 0;
  }
  &__title {
    margin-left: 1rem;

    @include text-settings(2rem, 2.5rem, 700);
    @include tablet {
      @include text-settings(2rem, 2.5rem, 700);
      margin: 1rem 2rem;
    }
    @include desktop {
      @include text-settings(3rem, 2.5rem, 700);
    }
  }
  &__img {
    width: 100%;
    margin: 1rem 0;
    @include tablet {
      width: 100%;
      object-position: center;
    }
  }
  &__quote {
    @include text-settings(1.1rem, 1.7rem, _);
    width: 100%;
    @include tablet {
      width: 65%;
    }
  }

  &__author {
    @include text-settings(0.9rem, 2.5rem, 700);
  }

  &__article {
    @include tablet {
      display: flex;
      @include tablet {
      }
    }
    p {
      margin: 1rem;
      @include text-settings(1rem, 24px, "");
    }
  }
  &__heading {
    margin-left: 1rem;
    @include tablet {
    }
  }
}

.wrapper {
  @include tablet {
    width: 40.625rem;
    margin: 0 auto;
  }
  @include desktop {
    width: 60rem;
    margin: 0 auto;
  }
}

.gallery {
  background-color: $mercury;
  &__wrapper {
    @include desktop {
      margin: 0 auto;
      width: 100rem;
    }
  }
  &__heading {
    padding: 0.8rem 0 0 1rem;
    @include tablet {
      margin-top: 1.5rem;
    }
    @include text-settings(2rem, "", 700);
  }

  &__img {
    max-width: 100%;
    margin: 0.5rem;
    object-fit: cover;
    filter: grayscale(90%);
    &:hover {
      filter: grayscale(0);
    }
    @include tablet {
      width: 30%;
    }
  }

  &__imgs {
    @include flex(column, _, _);
    @include tablet {
      @include flex(row, _, center);
      flex-wrap: wrap;
      padding: 1rem 0 0.7rem;
    }
  }

  &__wrapper {
    @include desktop {
      width: 70rem;
    }
  }
}

.form {
  @include flex(column, flex-start, _);
  @include tablet {
    width: 40rem;
    margin: 0 auto;
  }
  @include desktop {
    width: 50rem;
    margin: 0 auto;
  }
  height: 100%;
  &__img {
    width: 2.5rem;
    height: 2.5rem;
    object-fit: cover;
    border-radius: 50%;
  }
  &__heading {
    margin: 1rem 0 0 1.5rem;
    @include tablet {
      // @include flex(_, _, _);
      // align-self: flex-start;
    }
  }
  &__img {
    margin: 2.0625rem 0 0 1.5rem;
  }
  &__text {
    width: 100%;
    height: 6rem;
    background-color: $mercury;
    border-radius: 0.2rem;
    border: 1px solid $silver;
    @include tablet {
      height: 5rem;
    }
  }
  &__label {
    color: $silver;
    @include text-settings(0.8rem, _, _);
  }
  &__input {
    width: 100%;
    height: 2rem;
    margin-bottom: 1rem;
    background-color: $mercury;
    border-radius: 0.2rem;
    border: 1px solid $silver;
    @include tablet {
      height: 3rem;
    }
  }
  &__wrapper {
    width: 20rem;
  }
  &__container {
    @include flex(row, _, _);
    width: 100%;
  }
  &__section {
    @include flex(column, flex-start, _);
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    @include tablet {
    }
  }
  &__button {
    background-color: $band-dark;
    color: $white;
    height: 2.5rem;
    width: 100%;
    margin: 1rem 0 0 0;
    border-radius: 0.2rem;
    border: none;
    @include text-settings(1rem, _, _);
    @include tablet {
      width: 9rem;
      @include flex(_, center, center);
      align-self: flex-end;
      text-align: center;
      // @include flex(_, _, _);
      // align-self: flex-en;
    }
  }
}
.line {
  border: 1px solid $silver;
  width: 93%;
  @include flex(_, center, _);
  align-self: center;
  @include tablet {
    // width: ;
  }
}

.comments {
  margin: 0.5rem;
  @include flex(column, center, _);
  width: 93%;
  &__comment {
    width: 100%;
    border-bottom: 2px solid $silver;
    @include flex(row, _, _);
  }
  &__info {
    @include flex(row, _, space-between);
    padding: 0.5rem;
    width: 100%;
  }
  &__img {
    margin: 0.5rem;
    width: 2.5rem;
    height: 2.5rem;
    object-fit: cover;
    border-radius: 50%;
  }

  &__text {
    margin: 0.5rem;
  }

  &__content {
    width: 100%;
  }
}

.footer {
  padding: 1rem 1rem 1.7rem;
  background-color: $band-dark;
  &__wrapper {
    @include desktop {
      width: 62.5rem;
      margin: auto;
      background-color: $band-dark;
      padding: 3rem 0;
    }
  }
  &__top {
    @include tablet {
      @include flex(_, center, space-between);
    }

    &__heading {
      color: $white;
    }
    &__left {
      @include tablet {
        @include flex(_, center, _);
      }
    }
    &__icon {
      padding: 1rem 2rem 1rem 0;
      @include tablet {
        padding: 1rem 1.5rem;
      }
    }
    &__link {
      text-decoration: none;
    }

    &__right {
      display: none;
      color: white;
      padding-top: 1rem;
      @include tablet {
        padding-top: 0;
        display: block;
      }
    }
  }

  address {
    color: $white;
    padding-bottom: 1.5rem;
    @include text-settings(0.8rem, _, _);
  }
  &__bold {
    @include text-settings(0.8rem, _, bold);
  }

  p {
    color: $white;
  }

  &__bottom {
    @include tablet {
      @include flex(row, _, space-between);
    }
    &__email {
      text-decoration: none;
      color: $white;
      @include text-settings(0.7rem, _, _);
      @include tablet {
        @include text-settings(0.7rem, _, _);
      }
    }
    &__info {
      margin-bottom: 1rem;
    }
  }

  h2 {
    color: $white;
    @include text-settings(_, _, 400);
    @include tablet {
      display: none;
    }
  }
}

.band-name {
  @include tablet {
    @include text-settings(1.2rem, _, 200);
    padding-right: 3rem;
  }
  @include desktop {
    padding-right: 0;
  }
}

.rights {
  @include text-settings(0.8rem, _, _);
  @include tablet {
    @include text-settings(0.5rem, _, _);
  }
}
